*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.bg1{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    background-color: rgba(128,128,128,.8);
    box-shadow: 0px 0px 2px white;
    display: flex;
    height: 100px;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-items: center; */
    flex-wrap: wrap;

}
.header img{
    width: 90px;
}
.header h1{
    color: whitesmoke;
}
.navbar{
    background-color:rgba(47, 79, 79, .8);
    height: 400px;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.navbar ul li{
    list-style: none;
    margin: 30px auto;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: white;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.mainpage{
    /* background-color:whitesmoke; */
    height: 400px;
    width: 65%;
}
.sidebar{
    height: 400px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px black;

    
}
.dev{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}
.sidebar ul li{
    list-style: none;
}
.detail{
    background-color: purple;
    height: 80px;
    width: 100%;
}
.footer{
    background-color: green;
    height: 50px;
    width: 100%;
}

